apiVersion: 1

datasources:
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    basicAuth: false
    isDefault: true
    version: 1
    editable: true

  - name: VictoriaMetrics
    uid: prometheus
    type: prometheus
    orgId: 1
    url: http://victoriametrics:8428
    basicAuth: false
    isDefault: false
    version: 1
    editable: true
